@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --themeMain: #5bac3e;
  --mainLight: #85dd52;
  --mainDark: #246d1b;
  --themeSecond: #aa701c;
  --secondLight: #d5b854;
  --secondDark: #472d03;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-iceland);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 14px;
}

.no-scroll{
  overflow: hidden !important;
}

/* Style for the scrollbar track */
*::-webkit-scrollbar {
  width: 6px;
  /* Adjust width as needed */
}

/* Style for the scrollbar track (background) */
*::-webkit-scrollbar-track {
  background-color: #272727;
}

/* Style for the scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: #bcb4b4;
  border-radius: 6px;
  /* Rounded edges */
}

/* Style for the scrollbar thumb on hover (optional) */
*::-webkit-scrollbar-thumb:hover {
  background-color: #a9a1a1;
  /* Darken slightly on hover */
}

/* fonts */
.oswald{
  font-family: var(--font-oswald);
}

.roboto{
  font-family: var(--font-roboto);
}

.anton{
  font-family: var(--font-anton);
}

.rubik{
  font-family: var(--font-rubik);
}

.iceland{
  font-family: var(--font-iceland);
}

.nabla{
  font-family: var(--font-nabla);
}

.iceberge{
  font-family: var(--font-iceberge);
}

.hero-title .split-char{
  opacity: 0;
}

/* effects */
.glow-effect {
  text-shadow: 0 0 10px var(--mainLight), 0 0 20px var(--mainLight), 0 0 30px var(--mainDark);
  animation: glow 1.5s infinite alternate;
}

.about-section::before {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(circle, rgba(91, 172, 62, 0.3), rgba(36, 109, 27, 0));
  filter: blur(80px);
  z-index: 1;
  pointer-events: none;
}

.about-section::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: -10%;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(circle, rgba(91, 172, 62, 0.3), rgba(36, 109, 27, 0));
  filter: blur(80px);
  z-index: 1;
  pointer-events: none;
}

.package-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20%;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(circle, rgba(91, 172, 62, 0.3), rgba(36, 109, 27, 0));
  filter: blur(80px);
  z-index: 1;
  pointer-events: none;
}

.package-section::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(circle, rgba(91, 172, 62, 0.3), rgba(36, 109, 27, 0));
  filter: blur(80px);
  z-index: 1;
  pointer-events: none;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px var(--mainLight), 0 0 20px var(--mainLight), 0 0 30px var(--mainDark);
  }
  100% {
    text-shadow: 0 0 25px var(--mainLight), 0 0 35px var(--themeMain), 0 0 45px var(--mainDark);
  }
}

.neon-hover:hover{
  border-color: transparent;
  color: white;
  background: var(--themeMain);
  transition-delay: 0.6s;
  box-shadow: 0 0 10px var(--themeMain), 0 0 40px var(--themeMain), 0 0 80px var(--mainLight)
}

.section-title {
  --title-text: "Your Title Text Here";
  text-transform: uppercase;
  font-size: 4rem;
  font-family: var(--font-iceberge);
  font-weight: bold;
  color: transparent;
  background: radial-gradient(circle, var(--mainLight), var(--themeMain), var(--mainDark)); 
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  position: relative; 
  text-align: center;
  width: 100%;
}

.section-title::before {
  content: var(--title-text); /* Necessary for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  text-shadow: 
    2px 2px 0 var(--secondDark),   /* Shadow to the right and down */
    4px 4px 0 var(--themeSecond),   /* Shadow for more depth */
    6px 6px 0 var(--secondLight);   /* Additional layer for deeper 3D look */ 
}

/*3d block */
.block-3d {
  background: linear-gradient(135deg, rgba(91, 172, 62, 0.2), rgba(133, 221, 82, 0.2), rgba(36, 109, 27, 0.2));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/** glass block */
.glass-block{
  background: linear-gradient(196deg, #246d1b45, #85dd524d);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* metallic card */
.bg-secondary-metallic {
  background: linear-gradient(135deg, var(--secondDark), var(--secondLight));
  box-shadow: inset 2px 2px 8px var(--secondDark), inset -2px -2px 8px var(--secondLight), 3px 3px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--secondLight);
}

/* Shine Effect */
.metallic-overlay {
  position: relative;
  background: linear-gradient(135deg, transparent 40%, rgba(255, 255, 255, 0.3) 60%);
  box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.2);
}

.shadow-3d {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4), -4px -4px 15px rgba(255, 255, 255, 0.2);
}

/* Metallic Text */
.metallic-text {
  color: white;
  text-shadow: 1px 1px 2px var(--secondDark);
}

/* Metallic Button */
.bg-theme-metallic {
  background: linear-gradient(135deg, var(--mainDark), var(--mainLight));
  box-shadow: 1px 1px 5px var(--mainDark), -1px -1px 5px var(--mainLight), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.bg-theme-metallic:hover {
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}

.bg-pin-metallic {
  background: linear-gradient(135deg, var(--secondDark), var(--secondLight));
  box-shadow: 1px 1px 5px var(--secondDark), -1px -1px 5px var(--secondLight), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}

/* Shining Text */
.text-shine {
  color: var(--foreground);
  text-shadow: 1px 1px 2px var(--mainDark);
}

/* Metallic Nail Positioning */
.nail {
  position: absolute;
  width: 12px;
  height: 12px;
  background: radial-gradient(circle, var(--secondLight) 20%, var(--secondDark) 80%);
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/* swiper styles */

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  height: 50px;
  width: 50px;
  background: linear-gradient(135deg, var(--mainDark), var(--mainLight));
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  z-index: 10;
  right: 60px;
  left: auto;
  top: 0;
  transform: translateY(50%);
  color: var(--foreground);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Tail */
.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 15px;
  background: var(--foreground);
}

/* Arrowhead */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Left Arrow */
.swiper-button-prev::before {
  left: 17px;
}

.swiper-button-prev::after {
  left: 11px;
  border-width: 6px 8px 6px 0;
  border-color: transparent var(--foreground) transparent transparent;
}

/* Right Arrow */
.swiper-button-next::before {
  right: 17px;
}

.swiper-button-next::after {
  right: 11px;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent var(--foreground);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: linear-gradient(135deg, var(--themeMain), var(--mainLight));
}

/* particle bg */

.particle-wrapper{
  height: 100%;
    top: 0;
    position: absolute !important;
    width: 100%;
    left: 0;
    z-index: 0;
}

@layer components {
  .container {
    @apply max-w-screen-2xl m-auto;
  }
  .input-box{
    @apply w-full py-4 px-8 rounded-lg mb-4 outline-theme roboto text-lg placeholder:text-white
  }
  .textarea{
    @apply w-full py-4 px-8 rounded-lg outline-theme roboto text-lg placeholder:text-white min-h-56
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 1024px) {
  body{
      font-size: 16px;
  }
}

@media screen and (min-width: 640px) {
  .section-title{
      font-size: 6rem;
      text-align: left;
  }
}
