@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --themeMain: #5bac3e;
  --mainLight: #85dd52;
  --mainDark: #246d1b;
  --themeSecond: #aa701c;
  --secondLight: #d5b854;
  --secondDark: #472d03;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-oswald);
  scroll-behavior: smooth;
}

.oswald{
  font-family: var(--font-oswald);
}

.roboto{
  font-family: var(--font-roboto);
}

.anton{
  font-family: var(--font-anton);
}

.rubik{
  font-family: var(--font-rubik);
}

.iceland{
  font-family: var(--font-iceland);
}

.nabla{
  font-family: var(--font-nabla);
}

@layer components {
  .container {
    @apply max-w-screen-2xl m-auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
